<h1><center>How To for Facebooks Graph API</center></h1>
<h2><center>Section 2</center></h2>
<h3><center>Getting An Access Token</center></h3>
<body>
    <p>Now that we've got our app set up, we need to generate an access token. And this is where we start using the API.</p>
</body>