<h1><center>How To for Facebooks Graph API</center></h1>
<h2><center>Section Zed</center></h2>
<h3><center>Testing Facebook API</center></h3>
<body>
    <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '437375113121578',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

    
<script>
// Only works after `FB.init` is called
function movieList() {
  FB.login(function(){
      
    FB.api(
    "/me/movies",
    function (response) {
      if (response && !response.error) {
        /* handle the result */
          console.log(response);
          //console.log(response.data[0].name);
          var movieListTitle = document.createElement("h4");
          movieListTitle.textContent = "Movie List";
          document.body.appendChild(movieListTitle);
          var movieList = document.createElement("ul");
          movieList.setAttribute("id","movieList");
          document.body.appendChild(movieList);
          for (var i = 0; i<response.data.length;i++)
              {
                  console.log(response.data[i].name);
                  var listItem = document.createElement("li");
                  listItem.textContent = response.data[i].name;
                  document.getElementById("movieList").appendChild(listItem);
              }
      }
        else
            {console.log("No response");}
    }
);     
  }, {scope: 'publish_actions'});
}
</script>
<button onclick="movieList()">Generate Movie List</button>

<script>
// Only works after `FB.init` is called
function albumList() {
  FB.login(function(){
      
    FB.api(
    "/me/albums",
    function (response) {
      if (response && !response.error) {
        /* handle the result */
          console.log(response);
          //console.log(response.data[0].name);

          var albumListTitle = document.createElement("h4");
          albumListTitle.textContent = "Album List";
          document.body.appendChild(albumListTitle);

          var albumList = document.createElement("ul");
          albumList.setAttribute("id","albumList");
          document.body.appendChild(albumList);
          for (var i = 0; i<response.data.length;i++)
              {
                  console.log(response.data[i].name);
                  var listItem = document.createElement("li");
                  listItem.textContent = response.data[i].name;
                  document.getElementById("albumList").appendChild(listItem);
              }
      }
        else
            {console.log("No response");}
    }
);  
      
      
  }, {scope: 'publish_actions'});;
}
</script>
<button onclick="albumList()">Generate Album List</button>

    <script>
// Only works after `FB.init` is called
function eventInfo() {
    FB.login(function(){
        FB.api('/886619278065757', {fields: 'name,declined_count,timezone'},                    function(response) {
                if (response && !response.error)
                {
                    console.log(response);
                    var header = document.createElement("h4");
                    header.textContent = "Name, Time Zone, Count of Declined Invites";
                    document.body.appendChild(header);
            
                    var list = document.createElement("ul");
                    list.setAttribute("id","list");
                    document.body.appendChild(list);
        
                    var name = document.createElement("li");
                    name.textContent = response.name;
                    document.getElementById("list").appendChild(name);
            
                    var timezone = document.createElement("li");
                    timezone.textContent = response.timezone;
                    document.getElementById("list").appendChild(timezone);
            
                    var declined = document.createElement("li");
                    declined.textContent = response.declined_count;
                    document.getElementById("list").appendChild(declined);         
                }
                else
                {
                    console.log("No response or response error");
                }

        });        
    }, {scope: 'publish_actions'});;
}
</script>
<button onclick="eventInfo()">Generate Event Info</button>

<script>
function print() {
    FB.login(function(){
        FB.api('/me/feed', 'post', {message: 'CS290 is great!'});
        }, {scope: 'publish_actions'});
}
</script>
<button onclick="print()">Generate Currency</button>
    
</body>