<center><h1>The Home Page</h1></center>
      <form>
        <fieldset>
            <legend>Add Exercise</legend>
            <label>Name:
                <input type="text" name="name" id="name" size="30" maxLength="100">
            </label>
            <label>Reps:
                <input type="text" name="reps" id="reps" size="30", maxLength="100">
            </label>
            <label>Weight:
                <input type="text" name="weight" id="weight" size="30", maxLength="100">
            </label>
            <label>Date:
                <input type="text" name="date" id="date" size="30", maxLength="100">
            </label>
            <label>Lbs/Kgs:
                <input type="text" name="lbs" id="lbs" size="5", maxLength="5">
            </label>
            <br \><br />
            <button type="button" id="submit">Submit</button>
        </fieldset>
      </form>
      
<table>
    <caption>Exercises</caption>
    <thead>
        <tr>
            <th> <!leave empty>
            <th> Name
            <th> Reps
            <th> Weight
            <th> Date
            <th> Lbs or Kgs
</table>
        
        <p>{{results}}</p>
